.footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(201, 231, 130);
}
.footer p {
    display: flex;
    font-size: 15px;
    margin: 0 auto;
    align-items: center;
}
